body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.grid-container {
    background: #eee;
    max-width: 900px;
    margin: 0 auto;
}

.grid-container > div {
    background: #eee;
}

